<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :no_of_seats_booked %><br>
    <%= f.number_field :no_of_seats_booked, :step=>1, :min=>1 %>
  </div>
  <div class="field">
    <%= f.label :seat_type %><br>
    <%= f.select(:seat_type, Booking::SEAT_TYPE_LIST, :include_blank => "Please Select a Seat Type" ) %>
  </div>
  <div class="field">
    <%= f.label :cost_of_ticket %><br>
    <%= f.text_field :cost_of_ticket, :readonly => true%>
  </div>
  <div class="field">
    <%= f.label :payment_method %><br>
    <%= f.select(:payment_method,  Booking::PAYMENT_METHOD_LIST, :include_blank => "Please Select a Payment Type") %>
  </div>
  <%= f.hidden_field :user_id, :value => session[:user_id] %>
  <%= f.hidden_field :schedule_id, :value => session[:schedule_id] %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>


$(document).ready( function ()
{
  
  $('#booking_seat_type').change(function()
  {
    var option = $('#booking_seat_type').val();
    if(option == "Lower Class")
    {
      $('#booking_cost_of_ticket').val(300);
    }
    else if(option == "Middle Class")
    {
      $('#booking_cost_of_ticket').val(500);
    }
    else if(option == "Higher Class")
    {
      $('#booking_cost_of_ticket').val(1000); 
    }   
  });
});

</script>
