<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :no_of_seats_booked %><br>
    <%= f.number_field :no_of_seats_booked %>
  </div>
  <div class="field">
    <%= f.label :seat_type %><br>
    <%= f.text_field :seat_type %>
  </div>
  <div class="field">
    <%= f.label :cost_of_ticket %><br>
    <%= f.text_field :cost_of_ticket %>
  </div>
  <div class="field">
    <%= f.label :payment_method %><br>
    <%= f.text_field :payment_method %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
