<hr>
<p id="notice"><%= notice %></p>


<div class="col-md-1"></div>
<div class="well col-md-4">
<p>
  <strong>No of seats booked:</strong>
  <%= @booking.no_of_seats_booked %> 
</p>

<p>
  <strong>Seat type:</strong>
  <%= @booking.seat_type %>
</p>

<p>
  <strong>Cost of ticket:</strong>
  <%= @booking.cost_of_ticket %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @booking.payment_method %>
</p>
<h4>
<%= link_to 'Print',booking_path(@booking, format: "pdf") %> |
<%= link_to 'Book Another', :controller=> 'bookings', :action=> 'new' %> </h4>
</div>