<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_name1 %><br>
    
    <%= collection_select(:team_name1, 0, Team.all, :id, :name, :include_blank => "Select Team")  %>
  </div>
  <div class="field">
    <%= f.label :team_name2 %><br>
    <%= collection_select(:team_name2, 0, Team.all, :id, :name, :include_blank => "Select Team")%>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :no_of_seats %><br>
    <%= f.text_field :no_of_seats %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
