<p id="notice"><%= notice %></p>
<hr>
<h1 align="center">Listing Schedules</h1>

<table class="table table table-hover table.stripped">
  <thead>
    <tr>
      <th>Team name1</th>
      <th></th>
      <th>Team name2</th>
      <th>Date</th>
      <th>Time</th>
      <th>No of seats</th>
      <th>Available seats</th>
      <th>Booked seats</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.team_name1 %></td>
        <td>Vs</td>
        <td><%= schedule.team_name2 %></td>
        <td><%= schedule.date %></td>
        <td><%= schedule.time.strftime("%I:%M%p") %></td>
        <td><%= schedule.no_of_seats %></td>
        <td><%= schedule.available_seats %></td>
        <td><%= schedule.booked_seats %></td>
        <td><%= link_to 'Show', schedule %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- <%= link_to 'New Schedule', new_schedule_path %> 
