<p id="notice"><%= notice %></p>

<p>
  <strong>Team name1:</strong>
  <%= @schedule.team_name1 %>
</p>

<p>
  <strong>Team name2:</strong>
  <%= @schedule.team_name2 %>
</p>

<p>
  <strong>Date:</strong>
  <%= @schedule.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @schedule.time.strftime("%I:%M%p") %>
</p>

<p>
  <strong>No of seats Available:</strong>
  <%= @schedule.available_seats %>
</p>

<%= link_to 'Book Ticket', :controller=> 'bookings', :action=> 'new' %> |
<%= link_to 'Back', schedules_path %>
